<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <div class="container" ng-app="myModule">
        <div ng-controller="myController">
            <table class="table">
                <thead style="cursor:pointer;">
                    <tr>
                        <th ng-click="sortData('name')">
                            Name <div ng-class="getSortClass('name')"></div>
                        </th>
                        <th ng-click="sortData('dateOfBirth')">
                            Date of Birth <div ng-class="getSortClass('dateOfBirth')"></div>
                        </th>
                        <th ng-click="sortData('gender')">
                            Gender <div ng-class="getSortClass('gender')"></div>
                        </th>
                        <th ng-click="sortData('salary')">
                            Salary <div ng-class="getSortClass('salary')"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees | orderBy:sortColumn:reverseSort">
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.dateOfBirth | date:"MMM dd, yyyy" }}</td>
                        <td>{{ employee.gender }}</td>
                        <td>{{ employee.salary }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>